.spaces {
  width: 100%;
  height: 890px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.side_space {
  width: 400px;
  min-width: 300px;
  height: inherit;
  border-right: 1px solid var(--clr-primary-300);
}

.chat_space {
  width: calc(100% - 400px);
  min-width: 250px;
  height: inherit;
  display: flex;
}
.chat_panel_default {
  width: 100%;
  height: inherit;
}
.chat_panel {
  width: 60%;
  height: inherit;
}
.result_panel_default {
  display: none;
}
.result_panel {
  width: 40%;
  height: inherit;
  border-left: 1px solid var(--clr-primary-300);
}
