.add_container {
  margin: 30px;
}
.add_container p {
  font-size: 17px;
}
.title {
  font-size: 17px;
  text-align: left;
  margin: 15px 50px;
}
.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
