.add_container {
  padding: 10px 30px;
  cursor: pointer;
}
.add_container p {
  font-size: 17px;
}
.add_container:hover {
  background: var(--clr-primary-100);
}
.title {
  font-size: 17px;
  text-align: left;
  margin: 15px 50px;
}
.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
