.spaces {
  width: 100%;
  height: 890px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.side_space {
  width: 400px;
  min-width: 300px;
  height: inherit;
  border-right: 1px solid lightgray;
}

.chat_space {
  width: calc(100% - 400px);
  min-width: 250px;
  height: inherit;
}
