.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
}

.search_input_container {
  margin-left: 10px;
  width: 250px;
}

.search_input {
  height: 40px;
  border: none;
  font-size: 17px;
  width: 230px;
}

.search_input:focus {
  border: none;
  outline: none;
}

.search_icon {
  color: gray !important;
}
