:root {
  --clr-primary-100: whitesmoke;
  --clr-primary-200: hsl(0, 2%, 89%);
  --clr-primary-300: lightgray;
  --clr-primary-500: gray;
  --clr-primary-800: black;
  --clr-secondary: white;

  --fs-normal: 0.5rem;
  --fs-large: 1rem;

  --fw-bold: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
